<!DOCTYPE html>
<html>
<head>
	<title>Custom Search</title>
	<link rel="stylesheet" href="../static/fonts.css">
	<link rel="stylesheet" href="../static/deleteItem_style.css">
</head>
<body>
	<form method="POST" style="border:1px solid #ccc">
  		<div class="container">
			<h1>Delete an Item</h1>
			<p>
             	<label>Please Enter the Item id you want to delete</label>
             	<br>
             	<input type="number" name="ItemID">
          	</p>	
               <button type="button">Delete</button>
  		</div>
	</form>
</body>
</html>