<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Bibli.io</title>
        <link rel="stylesheet" href="{{url_for('static', filename='home_stylesheet.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            function load_search() {
                document.getElementById("content").innerHTML='<object type="text/html" data="search" style="width: 768px !important; height: 1366px !important;"></object>';
            }
            function load_loan() {
                document.getElementById("content").innerHTML='<object type="text/html" data="loan_cart" style="width: 768px; height: 1366px;" ></object>';
            }
            function load_addItem() {
                document.getElementById("content").innerHTML='<object type="text/html" data="AddItem" style="width: 768px !important; height: 1366px !important;" ></object>';
            }
            function load_editItem() {
                document.getElementById("content").innerHTML='<object type="text/html" data="EditItem" style="width: 768px !important; height: 1366px !important;" ></object>';
            }
            function load_deleteItem() {
                document.getElementById("content").innerHTML='<object type="text/html" data="DeleteItem" style="width: 768px !important; height: 1366px !important;"></object>';
            }
            function load_addAdminUser() {
                document.getElementById("content").innerHTML='<object type="text/html" data="registerAdmin" style="width: 768px !important; height: 1366px !important;"></object>';
            }
        </script>
    </head>
    <body>
        <div class="sidenav">
            <div class="header">
                <a href="/" class="logo"><h1>Welcome to Bibli.io</h1></a>
                <p>Logged in as: {{ request.cookies.get('username') }}</p>
            </div>
            <div class="navlist">
                <p class="list_title">User Actions</p>
                <ul class="actions_list">
                    <li><button class="button" type="button" onclick="load_search()">Custom Search</button></li>
                    <li><button class="button" type="button" >View Active Loans</button></li>
                    <li><button class="button" type="button" onclick="load_loan()">Make Loan</button></li> <!--new edit-->
                </ul>
                <p class="list_title">Administrator Actions</p>
                <ul class="actions_list">
                    <li><button class="button" type="button" onclick="load_addItem()">Add Library Record</button></li>
                    <li><button class="button" type="button" onclick="load_editItem()">Modify Library Record</button></li>
                    <li><button class="button" type="button" onclick="load_deleteItem()">Remove Library Record</button></li>
                    <li><button class="button" type="button">Manage Administrators</button></li> <!--new edit-->
                </ul>
                <p class="list_title">Exit</p>
                <ul class="actions_list">
                    <li><button class="button" type="button" onclick="window.location.href='/logout'">Sign Out</button></li>
                </ul>
            </div>
        </div>
        <div class="menu_nav col-sm-2">
            <p class="list_title actions_list">User Actions</p>
            <ul class="actions_list">
                <li><button class="button" type="button" onclick="load_search()">Custom Search</button></li>
                <li><button class="button" type="button" >View Active Loans</button></li>
                <li><button class="button" type="button" onclick="load_loancart()">View Loan Cart</button></li>
            </ul>
            <p class="list_title actions_list">Administrator Actions</p>
            <ul class="actions_list">
                <li><button class="button" type="button" onclick="load_addItem()">Add Library Record</button></li>
                <li><button class="button" type="button" onclick="load_editItem()">Modify Library Record</button></li>
                <li><button class="button" type="button" onclick="load_deleteItem()">Remove Library Record</button></li>
                <li><button class="button" type="button" onclick="load_addAdminUser()">Manage Library Users</button></li>
            </ul>
        </div>
        <div class="main">
          <div id="content" class="col-sm-10"></div>
        </div>
    </body>
</html>
