{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Custom Search</title>
	<link rel="stylesheet" href="../static/fonts.css">
	<link rel="stylesheet" href="../static/loanCart_style.css">
</head>
<body>
	<form method="post" style="border:1px solid #ccc">
  		<div class="container">
			<h1>Loan Checkout</h1>
			<p>Please fill in required information for the item.</p>
    		<label for="itemID"><b>Item ID</b></label>
		    <input type="text" placeholder="Enter the ID" name="itemID" required>
		    <br>
    		<div>
      			<button type="submit" formmethod="POST" class="button">Check Out</button>
      			<button type="reset" class="button">Reset</button>
			</div>
  		</div>
	</form>
	{% if success == 1 %}
	<h1 style="color: green">Success</h1>
	{% endif %}
	{% if success == 2 %}
    <h1 style="color: red">Fail</h1>
	{% endif %}

</body>
</html>
{% endblock %}