{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
	<link rel="stylesheet" href="../static/fonts.css">
	<link rel="stylesheet" href="../static/search_style.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$( "#myList" ).change(function() {
				if(this.value == "1"){
					$('#display_Book').hide();
     				$('#display_Magazine').hide();
     				$('#display_Movie').hide();
     				$('#display_Music').hide();
				}
				if(this.value == "2"){
					$('#display_Book').show();
     				$('#display_Magazine').hide();
     				$('#display_Movie').hide();
     				$('#display_Music').hide();
				}
				if(this.value == "3"){
					$('#display_Book').hide();
     				$('#display_Magazine').show();
     				$('#display_Movie').hide();
     				$('#display_Music').hide();
				}
				if(this.value == "4"){
					$('#display_Book').hide();
     				$('#display_Magazine').hide();
     				$('#display_Movie').show();
     				$('#display_Music').hide();
				}
				if(this.value == "5"){
					$('#display_Book').hide();
     				$('#display_Magazine').hide();
     				$('#display_Movie').hide();
     				$('#display_Music').show();
				}

			});

	  });
	</script>
</head>


<body>
	<form method="POST" style="border:1px solid #ccc">
  		<div class="container">
			<h1>Search</h1>
			<p>
             	<label>Please Select the item you want to Search</label>
             	<br>
             	<select id = "myList" class="dropdown dropdownStyle" name="myList" >
               	<option class="dropdownMenu" value="1" selected>--- Please Select an Item ---</option>
               	<option class="dropdownMenu" id = "Book" value = "2">Book</option>
               	<option class="dropdownMenu" id = "Magazine" value = "3">Magazine</option>
               	<option class="dropdownMenu" id = "Movie" value = "4">Movie</option>
               	<option class="dropdownMenu" id = "Music" value = "5">Music</option>
             	</select>
          	</p>
          	<div id="display_Book" style="display: none">
          		<p>Please enter an field to search --- BOOKS </p>
          		<form>
                         <table class="tableAlignment">
                         <tr>
                              <td><label class="labelStyle" for="Title">Title : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Title" type="text" name="Title" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Author">Author : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Author" type="text" name="Author" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Format">Format : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Format" type="text" name="Format" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Pages">Pages : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Pages" type="text" name="num_pages" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Publisher">Publisher : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Publisher" type="text" name="Publisher" ></td>
                         </tr>
                          <tr>
                              <td><label class="labelStyle" for="year_published">Year Published (YYYY) : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Publisher" type="text" name="year_published" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Language">Language : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Language" type="text" name="Language" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="ISBN-10">ISBN-10 : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter ISBN-10" type="text" name="ISBN_10" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="ISBN-13">ISBN-13 : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter ISBN-13" type="text" name="ISBN_13" ></td>
                         </tr>
                         </table>
                    <input name="media_type" value="Book" style="display: none">
          			<button class="button" type="submit" formmethod="POST">Search!</button>
          		</form>
          	</div>
          	<div id ="display_Magazine" style="display: none">
          		<p>Please enter an field to search --- MAGAZINES</p>
          		<form>
                         <table class="tableAlignment">
                         <tr>
                              <td><label class="labelStyle" for="Title">Title : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Title" type="text" name="Title" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Publisher">Publisher : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Publisher" type="text" name="Publisher" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Language">Language : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Language" type="text" name="Language" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="year_published">Year Published (YYYY) : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Publisher" type="text" name="year_published" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="ISBN-10">ISBN-10 : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter ISBN-10" type="text" name="ISBN_10" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="ISBN-13">ISBN-13 : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter ISBN-13" type="text" name="ISBN_13" ></td>
                         </tr>
                         </table>
                    <input name="media_type" value="Magazine" style="display: none">
          			<button class="button" type="submit" formmethod="POST">Search!</button>
          		</form>
          	</div>
          	<div id="display_Movie" style="display: none">
          		<p>Please enter an field to search --- MOVIES</p>
          		<form>
                         <table class="tableAlignment">
                         <tr>
                              <td><label class="labelStyle" for="Title">Title : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Title" type="text" name="Title" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Director">Director : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Director" type="text" name="Director" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Producers">Producers : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Producers" type="text" name="Producers" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Actors">Actors : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Actors" type="text" name="Actors" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Language">Language : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Language" type="text" name="Language" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Subtitles">Subtitles : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Subtitles" type="text" name="Subtitles" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Dubbed">Dubbed : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Dubbed" type="text" name="Dubbed" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="ReleaseDate">Release Date (YYYY-MM-DD): </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Release Date" type="date" name="release_date" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="RunTime">Run Time : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Run Time" type="text" name="Run Time" ></td>
                    </tr>
                    </table>
                    <input name="media_type" value="Movie" style="display: none">
          			<button class="button" type="submit" formmethod="POST">Search!</button>
          		</form>
          	</div>
          	<div id="display_Music" style="display: none">
          		<p>Please enter an field to search --- MUSIC</p>
          		<form>
                         <table class="tableAlignment">
                         <tr>
                              <td><label class="labelStyle" for="Type">Type : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Type" type="text" name="Type" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Title">Title : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Title" type="text" name="Title" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Artist">Artist : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Artist" type="text" name="Artist" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="Label">Label : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Label" type="text" name="Label" ></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="ReleaseDate">Release Date (YYYY-MM-DD): </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter Release Date" type="date" name="release_date"></td>
                         </tr>
                         <tr>
                              <td><label class="labelStyle" for="ASIN">ASIN : </label></td>
          				<td><input class="textFieldStyle" placeholder="Enter ASIN" type="text" name="ASIN" ></td>
                         </tr>
                         </table>
                    <input name="media_type" value="Music" style="display: none">
          			<button class="button" type="submit" formmethod="POST">Search!</button>
          		</form>
          	</div>
          	<div>
          	</div>
  		</div>
	</form>
</body>
</html>
{% endblock %}