<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bibl.io</title>
  <link rel="stylesheet" href="{{url_for('static', filename='fonts.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='success.css')}}">
  <script src="../../scripts/js/load_scripts.js"></script>
</head>
<body>
<div class="container">
  <h1 class="container titles">You have successfully registered!</h1>
  <div id="login_box" class="container">
    <p id="user_login_redirect">Please, press the following button to Login the new Admin User</p>
    <br>
    <br>
    <button class="loginbtn" onclick=" window.location.href= '/login'; ">Log In Here</button>
  </div>

</div>

</body>
</html>
