<html>
    <head>
        <title>Welcome to Bibli.io</title>
        <link rel="stylesheet" href="../static/user_dashboard_stylesheet.css">
        <link rel="stylesheet" href="../static/fonts.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="greeting">
            <h1 style="color:white;">Welcome to Bibli.io</h1>
        </div>
        <div>
        <div class="menu_nav col-sm-2">
            <p class="list_title actions_list">User Actions</p>
            <ul class="actions_list">
                <li><button class="button" type="button">Custom Search</button></li>
                <li><button class="button" type="button">View Active Loans</button></li>
                <li><button class="button" type="button">View Loan Cart</button></li>
            </ul>
            <p class="list_title actions_list">Administrator Actions</p>
            <ul class="actions_list">
                <li><button class="button" type="button">Add Library Record</button></li>
                <li><button class="button" type="button">Modify Library Record</button></li>
                <li><button class="button" type="button">Remove Library Record</button></li>
                <li><button class="button" type="button">Manage Library Users</button></li>
            </ul>
        </div>
        <div class="catalog col-sm-10">
                {% if books | length != 0 %}
                <h6>BOOKS</h6>
                <table>
                    <tr>
                        <td>Title</td>
                        <td>Author</td>
                        <td>Publisher</td>
                        <td>Year Published</td>
                        <td>Language</td>
                        <td>ISBN</td>
                    </tr>
                    {% for book in books %}
                    <tr>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.year_published}}</td>
                        <td>{{book.language}}</td>
                        <td>{{book.isbn_13}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            
            {% if movies | length != 0%}
                <h6>MOVIES</h6>
                <table>
                    <tr>
                        <td>Title</td>
                        <td>Director</td>
                        <td>Producer</td>
                        <td>Release Date</td>
                    </tr>
                    {% for movie in movies %}
                    <tr>
                        <td>{{movie.title}}</td>
                        <td>{{movie.director}}</td>
                        <td>{{movie.producer}}</td>
                        <td>{{movie.release_date}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if magazines | length != 0 %}
                <h6>MAGAZINES</h6>
                <table>
                    <tr>
                        <td>Title</td>
                        <td>Publisher</td>
                        <td>Year Published</td>
                        <td>ISBN</td>
                    </tr>
                    {% for magazine in magazines %}
                    <tr>
                        <td>{{magazine.title}}</td>
                        <td>{{magazine.publisher}}</td>
                        <td>{{magazine.year_published}}</td>
                        <td>{{magazine.isbn_13}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if musics | length != 0 %}
                <h6>MUSIC</h6>
                <table>
                    <tr>
                        <td>Title</td>
                        <td>Artist</td>
                        <td>Label</td>
                        <td>Type</td>
                        <td>Release Date</td>
                    </tr>
                    {% for music in musics %}
                    <tr>
                        <td>{{music.title}}</td>
                        <td>{{music.artist}}</td>
                        <td>{{music.label}}</td>
                        <td>{{music.type}}</td>
                        <td>{{music.release_date}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        </div>
    </body>
</html>