{% extends 'home.html' %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="../static/editItem_style.css">
    </head>
    <body>
            {% if item.object_class == 'Book' %}
            <div id="display_Book">
                    <p style="font-size:30px">Edit details of item "{{ id }}" below</p>
                    <form method="POST">
                            <input type="hidden" value="{{ id }}" name="ID">
                           <table class="tableAlignment">
                           <tr>     
                                <td><label class="labelStyle" for="Title">Title : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.title}}" placeholder="Enter Title" type="text" name="Title" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="Author">Author : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.author}}" placeholder="Enter Author" type="text" name="Author" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="Pages">Pages : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.num_pages}}" placeholder="Enter Pages" type="text" name="Pages" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="Publisher">Publisher : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.publisher}}" placeholder="Enter Publisher" type="text" name="Publisher" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="Year">Year Published : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.year_published}}" placeholder="Enter Year" type="text" name="Year" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="Language">Language : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.language}}" placeholder="Enter Language" type="text" name="Language" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="isbn-10">ISBN-10 : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.isbn_10}}" placeholder="Enter ISBN-10" type="text" name="ISBN_10" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="isbn-13">ISBN-13 : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.isbn_13}}" placeholder="Enter ISBN-13" type="text" name="ISBN_13" required></td>
                                
                           </tr>
                           </table>
                           <button class="button" type="submit">Confirm Changes</button>
                      </form>
                </div>
                {% endif %}

                {% if item.object_class == 'Magazine' %}
                <div id ="display_Magazine">
                    <p>Edit details of item below</p>
                    <form method="POST">
                            <input type="hidden" value="{{ id }}" name="ID">
                           <table class="tableAlignment">
                           <tr>  
                                <td><label class="labelStyle" for="Title">Title : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.title}}" placeholder="Enter Title" type="text" name="Title" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="Publisher">Publisher : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.publisher}}" placeholder="Enter Publisher" type="text" name="Publisher" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="Year">Year Published : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.year_published}}" placeholder="Enter Year" type="text" name="Year" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="Language">Language : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.language}}" placeholder="Enter Language" type="text" name="Language" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="isbn-10">ISBN-10 : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.isbn_10}}" placeholder="Enter ISBN_10" type="text" name="ISBN_10" required></td>
                           </tr>
                           <tr>
                                <td><label class="labelStyle" for="isbn-13">ISBN-13 : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.isbn_13}}" placeholder="Enter ISBN_13" type="text" name="ISBN_13" required></td>
                           </tr>
                           </table>
                           <button class="button" type="submit">Confirm Changes</button>
                      </form>        		
                </div>
                {% endif %}

                {% if item.object_class == 'Movie' %}
                <div id="display_Movies">
                    <p>Edit details of item below</p>
                    <form method="POST">
                            <input type="hidden" value="{{ id }}" name="ID">
                           <table class="tableAlignment">
                           <tr> 
                                <td><label class="labelStyle" for="Title">Title : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.title}}" placeholder="Enter Title" type="text" name="Title" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Director">Director : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.director}}" placeholder="Enter Director" type="text" name="Director" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Producers">Producers : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.producers}}" placeholder="Enter Producers" type="text" name="Producers" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Actors">Actors : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.actors}}" placeholder="Enter Actors" type="text" name="Actors" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Language">Language : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.languages}}" placeholder="Enter Language" type="text" name="Languages" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Subtitles">Subtitles : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.subtitles}}" placeholder="Enter Subtitles" type="text" name="Subtitles" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Dubbed">Dubbed : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.dubbed}}" placeholder="Enter Dubbed" type="text" name="Dubbed" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="ReleaseDate">Release Date : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.release_date}}" placeholder="Enter Release Date" type="date" name="ReleaseDate" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="RunTime">Run Time : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.runtime}}" placeholder="Enter Run Time" type="text" name="Run Time" required></td>
                      </tr>
                      </table>
                           <button class="button" type="submit">Confirm Changes</button>
                      </form>
                </div>
                {% endif %}

                {% if item.object_class == 'Music' %}
                <div id="display_Musics">
                    <p>Edit details of item below</p>
                    <form method="POST">
                            <input type="hidden" value="{{ id }}" name="ID">
                           <table class="tableAlignment">
                           <tr>
                                <td><label class="labelStyle" for="Type">Type : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.mediaType}}" placeholder="Enter Type" type="text" name="Type" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Title">Title : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.title}}" placeholder="Enter Title" type="text" name="Title" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Artist">Artist : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.artist}}" placeholder="Enter Artist" type="text" name="Artist" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="Label">Label : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.label}}" placeholder="Enter Label" type="text" name="Label" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="ReleaseDate">Release Date : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.release_date}}" placeholder="Enter Release Date" type="date" name="ReleaseDate" required></td>
                           </tr> 
                           <tr> 
                                <td><label class="labelStyle" for="ASIN">ASIN : </labelrequired></td>
                                <td><input class="textFieldStyle" value="{{item.asin}}" placeholder="Enter ASIN" type="text" name="ASIN" required></td>
                           </tr>
                           </table>
                           <button class="button" type="submit">Confirm Changes</button>
                      </form>
                </div>
                {% endif %}
                <div>
                </div>	
        
    </body>
</html>
{% endblock %}