body
{
    text-align:center;
}

.container
{
    font-size:25px;
    font-family:t100f;
}

.container p
{
    font-weight:bold;
}

.container h1
{
    font-family:apu;
    font-size:30px;
    padding-top: 5%;
}
input[type=date].textFieldStyle{
    font-size: 70%;
    text-indent: 2%;
}
.labelStyle{
    font-size: 90%;
    float: right;
}
.tableAlignment{
    margin-left: auto;
    margin-right: auto;
}
input[type=text].textFieldStyle{
    font-size: 70%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number].numberFieldStyle{
    font-size: 70%;
}
.button {
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    color: black !important;
    width: auto;
    font-size: medium;
}
.link
{
    font-family:'Times New Roman', Times, serif;
    border-style: double;
}
.clearfix button
{
    background-color:white;
    border:black;
    border-style:ridge;
    color:black;
    font-size: 25px;
    font-weight:bold;
    font-family: t100f;
    cursor:pointer;
}
tr td
{
    width: 47%;
    font-family:t100f;
    font-weight:none !important;
    text-align:none !important;
    border-style:none !important;
    border-color:none !important;
    padding:0px !important;
    color:none !important;
    background: none !important;
    font-size:30px;
}

tr:first-child td
{
    background: none !important;
}
