body
{
    font-family:t100f;
    font-weight:bold;
    font-size:17;
}

.greeting
{
    border-style:solid;
    padding:10;
    font-family:apu;
    padding-top: 3%;
    color:black;
}

.greeting #log_out_btn
{
    font-family:'Times New Roman', Times, serif;
}

.menu_nav
{
    border-style: solid;
    width:14%;
    height:100%;
    text-align:left;
    position:sticky;
    background-color:rgba(0,0,0,0.2);
}

.menu_nav .actions_list
{
    list-style-type:none;
    position:relative;
    margin:3;
    padding:5;
}

.button
{
    width:90%;
}

.list_title
{
    text-decoration: underline;
}

.content
{
    border-style:solid;
    background-color:rgba(0,0,0,0.2);
    margin-bottom: 5;
}




