body
{
    font-family:t100f;
    font-weight:bold;
    font-size:17;
    background-image: url("backgrounds/basic_background_4.jpg");
    background-repeat:repeat-y;
}

.greeting
{
    border-style:solid;
    padding:10;
    font-family:apu;
    padding-top: 3%
}

.greeting a h1
{
    font-family:apu;
}

.logout {
     line-height: 6px;
     width: 5px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }

.menu_nav
{
    border-style: solid;
    width:14%;
    height:100%;
    text-align:left;
    position:sticky;
    background-color:rgba(0,0,0,0.2);
}

.menu_nav .actions_list
{
    list-style-type:none;
    position:relative;
    margin:3;
    padding:5;
}

.button
{
    width:90%;
}

.list_title
{
    color:white;
    text-decoration: underline;
}

.content
{
    border-style:solid;
    background-color:rgba(0,0,0,0.2);
    margin-bottom: 5;
}




