body
{
    text-align:center;
}

.container
{
    font-size:25px;
    font-family:t100f;
}

.container p
{
    font-weight:bold;
}

.container h1
{
    font-family:apu;
    font-size:30px;
    padding-top: 5%;
}
.link
{
    font-family:'Times New Roman', Times, serif;
    border-style: double;
}

.clearfix button
{
    background-color:white;
    border:black;
    border-style:ridge;
    color:black;
    font-size: 25px;
    font-weight:bold;
    font-family: t100f;
    cursor:pointer;
}
.button {
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width:auto !important;
    color: black !important;
    font-size: medium;
}

