html {	 
	background: rgba(42, 199, 226, 0.2) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: auto;
}

.container {
	text-align:center;
	font-family:apu;
}

.container.titles {
	font-size: 100px;
	font-stretch:expanded
}

.container.sub_titles {
	font-family:t100f;
	font-size:45px;
	position:relative;
	bottom:75px;
	color: rgb(58, 19, 167);
	font-weight:bold;
}

.label_text {
	font-family:tb;
	opacity:1;
}

#user_login_title {
	font-family:tb;
	font-size:50px;
	position:relative;
	bottom:35px;
}

#login_box {
	border-style: none;
	background: rgba(42, 199, 226, 0.2);
	color: rgb(0, 0, 0);
	border-spacing:0;
}

