
@import url('https://fonts.googleapis.com/css?family=Open+Sans');




html {
	background: rgba(42, 199, 226, 0.2) no-repeat center center fixed;
	background-size: cover;
	height: 100%;

}

.container {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}




.labels {
    margin-left:auto;
    margin-right:auto;
	text-align: left;
  }