body
{
    text-align:center;
}

.container
{
    font-size:25px;
    font-family:t100f;
}

.container p
{
    font-weight:bold;
}

.container h1
{
    font-family:apu;
    font-size:30px;
    padding-top: 5%;
}
.dropdownStyle{
    font-size: 70%;
    font-weight: bolder;
}
input[type=date].textFieldStyle{
    font-size: 70%;
}
.dropdownMenu{
    font-size: 100%;
    font-weight: bolder;
}
.button {
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    color: black !important;
    width: auto;
    font-size: medium;
}
.labelStyle{
    font-size: 90%;
    float: right;
}
input[type=text].textFieldStyle{
    font-size: 70%;
}
.link
{
    font-family:'Times New Roman', Times, serif;
    border-style: double;
}
.tableAlignment{
    margin-left: auto;
    margin-right: auto;
}
.clearfix button
{
    background-color:white;
    border:black;
    border-style:ridge;
    color:black;
    font-size: 25px;
    font-weight:bold;
    font-family: t100f;
    cursor:pointer;
}

