<!DOCTYPE html>
<html>
<head>
	<title>Register an account</title>
	<link red="stylesheet" href="../static/fonts.css">
	<link rel="stylesheet" href="../static/register_stylesheet.css">

</head>
<body>
	<form method="POST" style="border:1px solid #ccc">
  		<div class="container">
    		<h1>Sign Up</h1>
    		<p>Please fill in this form to create an account.</p>
    		<hr>
    		<label for="firstname"><b>First name</b></label>
		    <input type="text" placeholder="Enter First Name" name="firstname" required>
		    <br>
		    <label for="lastname"><b>Last name</b></label>
		    <input type="text" placeholder="Enter Last Name" name="lastname" required>
		    <br>
		    <label for="address-1"><b>Address Line 1</b></label>
		    <input type="text" placeholder="Enter Address Line 1" name="address-1" required>
		    <br>
		    <label for="address-2"><b>Address Line 2</b></label>
		    <input type="text" placeholder="Enter Address Line 2" name="address-2" required>
		    <br>
		    <label for="city"><b>City</b></label>
		    <input type="text" placeholder="Enter City" name="city" required>
		    <br>
		    <label for="state"><b>State/Province</b></label>
		    <input type="text" placeholder="Enter State/Province" name="state" required>
		    <br>
		    <label for="postal"><b>Postal / Zip Code</b></label>
		    <input type="text" placeholder="Enter Postal / Zip Code" name="postal" required>
		    <br>
		    <label for="country"><b>Country</b></label>
		    <input type="text" placeholder="Enter Country" name="country" required>
		    <br>
		    <label for="email"><b>Email</b></label>
		    <input type="text" placeholder="Enter Email" name="email" required>
		    <br>
		    <label for="phone"><b>Phone</b></label>
		    <input type="text" placeholder="Enter Phone Number" name="phone" required>
		    <br>
		    <label for="psw"><b>Password</b></label>
		    <input type="password" placeholder="Enter Password" name="psw" required>
			<br>
		    <label for="psw-repeat"><b>Repeat Password</b></label>
		    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    		<div class="clearfix">
      			<button type="submit" formmethod="POST" class="signupbtn">Register</button>
      			<button type="reset" class="resetbtn">Reset</button>
    		</div>
    		<a href="/login">Cancel Registration</a>
  		</div>
	</form> 
</body>
</html>